/* style.css v1.0 | Henn Rodríguez | @hennrodriguez */
html{
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    margin:0
}
article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{
    display:block
}
audio,canvas,video{
    display:inline-block
}
progress{
    vertical-align:baseline
}
audio,canvas,iframe,img,svg,video{
    vertical-align:middle
}
audio:not([controls]){
    display:none;
    height:0
}
[hidden],template{
    display:none
}
a{
    background-color:transparent;
}
a:active,a:hover{
    outline:0
}
abbr[title]{
    border-bottom:1px dotted
}
b,strong{
    font-weight:bold
}
dfn{
    font-style:italic
}
h1{
    font-size:2em;
    margin:.67em 0
}
mark{
    background:#ff0;
    color:#000
}
small{
    font-size:80%
}
sub,sup{
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sup{
    top:-.5em
}
sub{
    bottom:-.25em
}
img{
    border:0;
    max-width:100%;
    display:block
}
svg:not(:root){
    overflow:hidden
}
figure{
    margin:1em 40px
}
hr{
    box-sizing:content-box;
    display:block;
    height:0;
    border:0;
    margin:1em 0;
    padding:0
}
pre{
    overflow:auto
}
code,kbd,pre,samp{
    font-family:monospace,monospace;
    font-size:1em
}
button,input,optgroup,select,textarea{
    color:inherit;
    font:inherit;
    margin:0
}
textarea{
    resize:vertical
}
button{
    overflow:visible
}
button,select{
    text-transform:none
}
button,html input[type="button"],input[type="reset"],input[type="submit"]{
    -webkit-appearance:button;
    cursor:pointer
}
button[disabled],html input[disabled]{
    cursor:default
}
button::-moz-focus-inner,input::-moz-focus-inner{
    border:0;
    padding:0
}
input{
    line-height:normal
}
input[type="checkbox"],input[type="radio"]{
    box-sizing:border-box;
    padding:0
}
input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{
    height:auto
}
input[type="search"]{
    -webkit-appearance:textfield;
    box-sizing:content-box
}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{
    -webkit-appearance:none
}
fieldset{
    border:1px solid #c0c0c0;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend{
    border:0;
    padding:0
}
textarea{
    overflow:auto
}
optgroup{
    font-weight:bold
}
table{
    border-collapse:collapse;
    border-spacing:0
}
td,th{
    padding:0
}
html{
    font-size:16px;
    box-sizing:border-box;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%
}
body{
    line-height:1.6;
    font-family:'Anonymous Pro',Courier,monospace;
    background:#f8f9fa;
    color:#5f5f5f
}
html,body{
    height:100%
}
*,*:before,*:after{
    box-sizing:inherit
}
::-moz-selection{
    color:#652c8f;
    background:rgba(68,211,221,0.2);
    text-shadow:none
}
::selection{
    color:#652c8f;
    background:rgba(68,211,221,0.2);
    text-shadow:none
}
hr{
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #652c8f;
    margin:1em 0;
    padding:0
}
h1{
    letter-spacing:.1em;
    text-align:center;
    font-size:2.8125em
}
h2{
    font-size:2em
}
h3{
    font-size:1.4375em
}
h4{
    font-size:1em
}
h1,h2{
    font-family:'Montserrat',sans-serif,sans-serif;
    font-weight:700;
    text-transform:uppercase
}
h3,h4{
    font-family:'Montserrat',sans-serif,sans-serif;
    font-weight:400
}
h1,h2,h3,h4{
    color:#652c8f
}
a{
    text-decoration:none;
    color:#652c8f;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
}
a:focus{
    outline:none
}
section,.section-pad{
    padding:3em 0
}
.browsehappy{
    margin:.2em 0;
    background:#f8f9fa;
    color:#000;
    padding:.2em 0
}
.row{
    *zoom:1;
    width:auto;
    max-width:1280px;
    float:none;
    display:block;
    margin-right:auto;
    margin-left:auto;
    padding-left:0;
    padding-right:0;
}
.row:before,.row:after{
    content:'';
    display:table
}
.row:after{
    clear:both
}
.full-row{
    *zoom:1;
    width:auto;
    max-width:100%;
    float:none;
    display:block;
    margin-right:auto;
    margin-left:auto;
    padding-left:0;
    padding-right:0;
}
.full-row:before,.full-row:after{
    content:'';
    display:table
}
.full-row:after{
    clear:both
}
[class*='col-']{
    padding:1.5rem
}
.no-pad{
    padding:0
}
.y-pad{
    padding:1.5rem 0
}
.x-pad{
    padding:0 1.5rem
}
.pull-right{
    float:right
}
.pull-left{
    float:left
}
[class*='col-s-']{
    display:block;
    clear:both;
    float:none;
    width:100%;
    margin-left:auto;
    margin-right:auto;
    position:static;
    left:0
}
[class*='col-s-']:first-child{
    margin-left:auto
}
[class*='col-s-']:last-child{
    margin-right:auto
}
.col-xs-1{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:8.3333333333333%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-1:before,.col-xs-1:after{
    content:'';
    display:table
}
.col-xs-1:after{
    clear:both
}
.col-xs-2{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:16.6666666666667%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-2:before,.col-xs-2:after{
    content:'';
    display:table
}
.col-xs-2:after{
    clear:both
}
.col-xs-3{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:25%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-3:before,.col-xs-3:after{
    content:'';
    display:table
}
.col-xs-3:after{
    clear:both
}
.col-xs-4{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:33.3333333333333%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-4:before,.col-xs-4:after{
    content:'';
    display:table
}
.col-xs-4:after{
    clear:both
}
.col-xs-5{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:41.6666666666667%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-5:before,.col-xs-5:after{
    content:'';
    display:table
}
.col-xs-5:after{
    clear:both
}
.col-xs-6{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:50%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-6:before,.col-xs-6:after{
    content:'';
    display:table
}
.col-xs-6:after{
    clear:both
}
.col-xs-7{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:58.3333333333333%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-7:before,.col-xs-7:after{
    content:'';
    display:table
}
.col-xs-7:after{
    clear:both
}
.col-xs-8{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:66.6666666666667%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-8:before,.col-xs-8:after{
    content:'';
    display:table
}
.col-xs-8:after{
    clear:both
}
.col-xs-9{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:75%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-9:before,.col-xs-9:after{
    content:'';
    display:table
}
.col-xs-9:after{
    clear:both
}
.col-xs-10{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:83.3333333333333%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-10:before,.col-xs-10:after{
    content:'';
    display:table
}
.col-xs-10:after{
    clear:both
}
.col-xs-11{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:91.6666666666667%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-11:before,.col-xs-11:after{
    content:'';
    display:table
}
.col-xs-11:after{
    clear:both
}
.col-xs-12{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:100%;
    margin-left:0%;
    margin-right:0%;
}
.col-xs-12:before,.col-xs-12:after{
    content:'';
    display:table
}
.col-xs-12:after{
    clear:both
}
@media only screen and (min-width:480px){
    [class*='col-m-']{
        display:block;
        clear:both;
        float:none;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        position:static;
        left:0
    }
    [class*='col-m-']:first-child{
        margin-left:auto
    }
    [class*='col-m-']:last-child{
        margin-right:auto
    }
    .col-s-1{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:8.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-1:before,.col-s-1:after{
        content:'';
        display:table
    }
    .col-s-1:after{
        clear:both
    }
    .col-s-2{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:16.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-2:before,.col-s-2:after{
        content:'';
        display:table
    }
    .col-s-2:after{
        clear:both
    }
    .col-s-3{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:25%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-3:before,.col-s-3:after{
        content:'';
        display:table
    }
    .col-s-3:after{
        clear:both
    }
    .col-s-4{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:33.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-4:before,.col-s-4:after{
        content:'';
        display:table
    }
    .col-s-4:after{
        clear:both
    }
    .col-s-5{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:41.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-5:before,.col-s-5:after{
        content:'';
        display:table
    }
    .col-s-5:after{
        clear:both
    }
    .col-s-6{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:50%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-6:before,.col-s-6:after{
        content:'';
        display:table
    }
    .col-s-6:after{
        clear:both
    }
    .col-s-7{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:58.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-7:before,.col-s-7:after{
        content:'';
        display:table
    }
    .col-s-7:after{
        clear:both
    }
    .col-s-8{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:66.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-8:before,.col-s-8:after{
        content:'';
        display:table
    }
    .col-s-8:after{
        clear:both
    }
    .col-s-9{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:75%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-9:before,.col-s-9:after{
        content:'';
        display:table
    }
    .col-s-9:after{
        clear:both
    }
    .col-s-10{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:83.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-10:before,.col-s-10:after{
        content:'';
        display:table
    }
    .col-s-10:after{
        clear:both
    }
    .col-s-11{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:91.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-11:before,.col-s-11:after{
        content:'';
        display:table
    }
    .col-s-11:after{
        clear:both
    }
    .col-s-12{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-s-12:before,.col-s-12:after{
        content:'';
        display:table
    }
    .col-s-12:after{
        clear:both
    }
}
@media only screen and (min-width:640px){
    [class*='col-l-']{
        display:block;
        clear:both;
        float:none;
        width:100%;
        margin-left:auto;
        margin-right:auto;
        position:static;
        left:0
    }
    [class*='col-l-']:first-child{
        margin-left:auto
    }
    [class*='col-l-']:last-child{
        margin-right:auto
    }
    .col-m-1{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:8.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-1:before,.col-m-1:after{
        content:'';
        display:table
    }
    .col-m-1:after{
        clear:both
    }
    .col-m-2{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:16.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-2:before,.col-m-2:after{
        content:'';
        display:table
    }
    .col-m-2:after{
        clear:both
    }
    .col-m-3{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:25%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-3:before,.col-m-3:after{
        content:'';
        display:table
    }
    .col-m-3:after{
        clear:both
    }
    .col-m-4{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:33.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-4:before,.col-m-4:after{
        content:'';
        display:table
    }
    .col-m-4:after{
        clear:both
    }
    .col-m-5{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:41.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-5:before,.col-m-5:after{
        content:'';
        display:table
    }
    .col-m-5:after{
        clear:both
    }
    .col-m-6{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:50%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-6:before,.col-m-6:after{
        content:'';
        display:table
    }
    .col-m-6:after{
        clear:both
    }
    .col-m-7{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:58.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-7:before,.col-m-7:after{
        content:'';
        display:table
    }
    .col-m-7:after{
        clear:both
    }
    .col-m-8{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:66.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-8:before,.col-m-8:after{
        content:'';
        display:table
    }
    .col-m-8:after{
        clear:both
    }
    .col-m-9{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:75%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-9:before,.col-m-9:after{
        content:'';
        display:table
    }
    .col-m-9:after{
        clear:both
    }
    .col-m-10{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:83.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-10:before,.col-m-10:after{
        content:'';
        display:table
    }
    .col-m-10:after{
        clear:both
    }
    .col-m-11{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:91.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-11:before,.col-m-11:after{
        content:'';
        display:table
    }
    .col-m-11:after{
        clear:both
    }
    .col-m-12{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-m-12:before,.col-m-12:after{
        content:'';
        display:table
    }
    .col-m-12:after{
        clear:both
    }
}
@media only screen and (min-width:960px){
    .col-l-1{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:8.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-1:before,.col-l-1:after{
        content:'';
        display:table
    }
    .col-l-1:after{
        clear:both
    }
    .col-l-2{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:16.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-2:before,.col-l-2:after{
        content:'';
        display:table
    }
    .col-l-2:after{
        clear:both
    }
    .col-l-3{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:25%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-3:before,.col-l-3:after{
        content:'';
        display:table
    }
    .col-l-3:after{
        clear:both
    }
    .col-l-4{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:33.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-4:before,.col-l-4:after{
        content:'';
        display:table
    }
    .col-l-4:after{
        clear:both
    }
    .col-l-5{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:41.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-5:before,.col-l-5:after{
        content:'';
        display:table
    }
    .col-l-5:after{
        clear:both
    }
    .col-l-6{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:50%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-6:before,.col-l-6:after{
        content:'';
        display:table
    }
    .col-l-6:after{
        clear:both
    }
    .col-l-7{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:58.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-7:before,.col-l-7:after{
        content:'';
        display:table
    }
    .col-l-7:after{
        clear:both
    }
    .col-l-8{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:66.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-8:before,.col-l-8:after{
        content:'';
        display:table
    }
    .col-l-8:after{
        clear:both
    }
    .col-l-9{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:75%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-9:before,.col-l-9:after{
        content:'';
        display:table
    }
    .col-l-9:after{
        clear:both
    }
    .col-l-10{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:83.3333333333333%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-10:before,.col-l-10:after{
        content:'';
        display:table
    }
    .col-l-10:after{
        clear:both
    }
    .col-l-11{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:91.6666666666667%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-11:before,.col-l-11:after{
        content:'';
        display:table
    }
    .col-l-11:after{
        clear:both
    }
    .col-l-12{
        *zoom:1;
        float:left;
        clear:none;
        text-align:inherit;
        width:100%;
        margin-left:0%;
        margin-right:0%;
    }
    .col-l-12:before,.col-l-12:after{
        content:'';
        display:table
    }
    .col-l-12:after{
        clear:both
    }
    .shift-1{
        position:relative;
        left:8.5833333333333%
    }
    .shift-2{
        position:relative;
        left:17.1666666666667%
    }
    .shift-3{
        position:relative;
        left:25.75%
    }
    .shift-4{
        position:relative;
        left:34.3333333333333%
    }
    .shift-5{
        position:relative;
        left:42.9166666666667%
    }
    .shift-6{
        position:relative;
        left:51.5%
    }
    .shift-7{
        position:relative;
        left:60.0833333333333%
    }
    .shift-8{
        position:relative;
        left:68.6666666666667%
    }
    .shift-9{
        position:relative;
        left:77.25%
    }
    .shift-10{
        position:relative;
        left:85.8333333333333%
    }
    .shift-11{
        position:relative;
        left:94.4166666666667%
    }
}
.underline,.underline-center{
    position:relative;
}
.underline:after,.underline-center:after{
    display:block;
    content:"";
    position:absolute;
    background:#652c8f;
    bottom:-.5em;
    border-radius:1px;
    width:2em;
    height:.18em
}
.underline:after{
    left:0
}
.underline-center:after{
    left:50%;
    -webkit-transform:translateX(-50%);
    -ms-transform:translateX(-50%);
    transform:translateX(-50%)
}
.link-bg{
    padding:0 .2em;
    color:#652c8f;
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.link-bg:hover{
    background:rgba(68,211,221,0.6)
}
.list-reset{
    list-style:none;
    padding:0;
    margin:0
}
.list-title{
    display:inline-block;
    width:5em
}
.load-screen{
    width:100%;
    height:100vh;
    background:#44d3dd;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9999;
}
.load-screen .load-logo{
    position:absolute;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    height:250px;
    width:250px;
    max-width:100%;
    background:url("../img/h-logo.svg") no-repeat center left;
    background-size:contain
}
.white-screen{
    width:100%;
    height:100vh;
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(255,255,255,0.8);
    z-index:50;
    opacity:0;
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
    transition:opacity .7s cubic-bezier(.2,.9,.25,1);
}
.white-screen.display{
    opacity:1;
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0);
    transition:opacity .7s cubic-bezier(.2,.9,.25,1)
}
.center{
    margin:0 auto;
    float:none;
    clear:both
}
.align-center{
    text-align:center
}
.header-wrapper{
    width:100%;
    margin:0 auto;
    padding:1em 2em;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index:90
}
.h-logo{
    margin:0 0;
    position:absolute;
    float:left;
    height:61px;
    width:61px;
    background:url("../img/h-logo-phat.svg") no-repeat center left;
    background-size:contain
}
.main-menu{
    background-color:#fff;
    position:fixed;
    z-index:80;
    width:100%;
    max-width:340px;
    min-height:100vh;
    right:0;
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.menu-wrapper{
    min-height:100vh;
    position:relative
}
.main-menu nav{
    padding-top:5.5em
}
.menu-item{
    display:block;
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.menu-item a{
    font-family:'Montserrat',sans-serif,sans-serif;
    font-weight:400;
    display:block;
    padding:1em 3rem;
    font-size:1.25em;
    background:transparent;
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.menu-item a:hover{
    background:#652c8f;
    color:#fff
}
.menu-item a:focus{
    outline:none
}
.menu-item:nth-of-type(1){
    transition-delay:0s
}
.menu-item:nth-of-type(2){
    transition-delay:.05s
}
.menu-item:nth-of-type(3){
    transition-delay:.1s
}
.menu-item:nth-of-type(4){
    transition-delay:.15s
}
.menu-item:nth-of-type(5){
    transition-delay:.2s
}
.menu-item:nth-of-type(6){
    transition-delay:.25s
}
.menu-item:nth-of-type(7){
    transition-delay:.3s
}
.menu-item .link-proyecto{
    font-size:1em;
    padding-left:4em
}
.social{
    padding:3rem;
    text-align:center;
    -webkit-transform:translateX(100%);
    -ms-transform:translateX(100%);
    transform:translateX(100%);
    transition:.7s cubic-bezier(.2,.9,.25,1);
    transition-delay:.3s
}
.link-icon{
    padding:1em;
}
.link-icon svg{
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.social-icon{
    fill:#652c8f;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.link-icon:hover .social-icon{
    opacity:.6
}
.social-icon-footer{
    fill:#f8f9fa;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.link-icon:hover .social-icon-footer{
    opacity:.6
}
.menu-open{
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%);
    box-shadow:0 0 5px 0 rgba(0,0,0,0.12),0 0 10px 0 rgba(0,0,0,0.16);
}
.menu-open .menu-item{
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%)
}
.menu-open .social{
    -webkit-transform:translateX(0%);
    -ms-transform:translateX(0%);
    transform:translateX(0%)
}
.show-menu{
    float:right;
    padding:28px 3px;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.tcon{
    appearance:none;
    border:none;
    cursor:pointer;
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    -webkit-align-items:center;
    -ms-flex-align:center;
    align-items:center;
    height:61px;
    transition:.3s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    width:30px;
    background:transparent;
    position:relative;
    -webkit-tap-highlight-color:rgba(0,0,0,0)
}
.tcon > *{
    display:block
}
.tcon:focus{
    outline:none
}
.tcon-visuallyhidden{
    border:0;
    clip:rect(0 0 0 0);
    height:1px;
    margin:-1px;
    overflow:hidden;
    padding:0;
    position:absolute;
    width:1px
}
.tcon-visuallyhidden:active,.tcon-visuallyhidden:focus{
    clip:auto;
    height:auto;
    margin:0;
    overflow:visible;
    position:static;
    width:auto
}
.tcon-menu-lines{
    display:inline-block;
    height:5px;
    width:30px;
    border-radius:1px;
    transition:.3s;
    background:#652c8f;
    position:relative
}
.tcon-menu-lines::before,.tcon-menu-lines::after{
    display:inline-block;
    height:5px;
    width:30px;
    border-radius:1px;
    transition:.3s;
    background:#652c8f;
    content:'';
    position:absolute;
    left:0;
    -webkit-transform-origin:2.5px center;
    -ms-transform-origin:2.5px center;
    transform-origin:2.5px center;
    width:100%
}
.tcon-menu-lines::before{
    top:10px;
    transition:.3s
}
.tcon-menu-lines::after{
    top:-10px;
    transition:.3s
}
.tcon:hover .tcon-menu-lines{
    opacity:.6
}
.tcon-transform .tcon-menu-lines{
    -webkit-transform:scale3d(.8,.8,.8);
    transform:scale3d(.8,.8,.8)
}
.tcon-menu-xbutterfly{
    width:auto
}
.tcon-menu-xbutterfly .tcon-menu-lines::before,.tcon-menu-xbutterfly .tcon-menu-lines::after{
    -webkit-transform-origin:50% 50%;
    -ms-transform-origin:50% 50%;
    transform-origin:50% 50%;
    transition:top .3s .6s ease,-webkit-transform .3s ease;
    transition:top .3s .6s ease,transform .3s ease
}
.tcon-menu-xbutterfly.tcon-transform .tcon-menu-lines{
    background:transparent
}
.tcon-menu-xbutterfly.tcon-transform .tcon-menu-lines::before,.tcon-menu-xbutterfly.tcon-transform .tcon-menu-lines::after{
    top:0;
    transition:top .3s ease,-webkit-transform .3s .5s ease;
    transition:top .3s ease,transform .3s .5s ease;
    width:30px
}
.tcon-menu-xbutterfly.tcon-transform .tcon-menu-lines::before{
    -webkit-transform:rotate3d(0,0,1,45deg);
    transform:rotate3d(0,0,1,45deg)
}
.tcon-menu-xbutterfly.tcon-transform .tcon-menu-lines::after{
    -webkit-transform:rotate3d(0,0,1,-45deg);
    transform:rotate3d(0,0,1,-45deg)
}
.intro{
    margin:0;
    padding:0;
    height:100vh;
    background:#44d3dd;
    position:relative;
    overflow:hidden
}
.intro-cont{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:83.3333333333333%;
    margin-left:0%;
    margin-right:0%;
    position:absolute;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    text-shadow:0 2px 5px rgba(0,0,0,0.08),0 2px 10px rgba(0,0,0,0.12);
    z-index:10;
}
.intro-cont:before,.intro-cont:after{
    content:'';
    display:table
}
.intro-cont:after{
    clear:both
}
.intro-cont h1{
    font-size:3.98em;
    color:#fff
}
.intro-cont h1 small{
	font-size:50%
}
.intro-bg{
    height:100vh;
    position:absolute;
    top:0;
    left:0;
    right:0;
    background: none !important;
    /*background-size:cover;
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;*/
    z-index:0;
    opacity:.4
}
.cover{
    margin:0;
    padding:0;
    /*height:50vh;*/
    height:200px;
    position:relative;
    background-color:#44d3dd;
    overflow:hidden
}
.cover-bg{
    height:50vh;
    position:absolute;
    top:0;
    left:0;
    right:0;
    background-size:contain;
    background-position:top center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    z-index:0
}
.trustlations-bg{
    background-image:url("../img/portafolio001.png")
}
.opdstudio-bg{
    background-image:url("../img/portafolio002.png")
}
.megatop-bg{
    background-image:url("../img/portafolio003.png")
}
.alejandrias-bg{
    background-image:url("../img/portafolio004.png")
}
.otros-bg{
    background-image:url("../img/portafolio005.png")
}
.nope{
    margin:0;
    padding:0;
    height:80vh;
    background:#f8f9fa;
    position:relative
}
.nope-cont{
    *zoom:1;
    float:left;
    clear:none;
    text-align:inherit;
    width:83.3333333333333%;
    margin-left:0%;
    margin-right:0%;
    position:absolute;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    top:50%;
    left:50%;
    -webkit-transform:translate(-50%,-50%);
    -ms-transform:translate(-50%,-50%);
    transform:translate(-50%,-50%);
    text-align:center
}
.nope-cont:before,.nope-cont:after{
    content:'';
    display:table
}
.nope-cont:after{
    clear:both
}
.big-nope{
    font-family:'Montserrat',sans-serif,sans-serif;
    font-weight:700;
    font-size:4em;
    color:#652c8f;
    letter-spacing:.1em;
    text-align:center;
    text-shadow:0 2px 5px rgba(0,0,0,0.06),0 2px 10px rgba(0,0,0,0.08)
}
.portafolio-item{
    position:relative;
    cursor:pointer;
    overflow:hidden;
    margin:0;
}
.portafolio-item img{
    width:100%;
    -webkit-transform:scale(1);
    -ms-transform:scale(1);
    transform:scale(1);
    vertical-align:bottom;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.portafolio-item figcaption{
    background:transparent;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    opacity:0;
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.portafolio-item figcaption h3{
    color:#fff;
    text-shadow:0 2px 5px rgba(0,0,0,0.06),0 2px 10px rgba(0,0,0,0.08);
    margin-top:4em;
    width:100%;
    text-align:center;
    padding:0 1em;
    position:absolute;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    top:50%;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    transform:translateY(-50%);
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.portafolio-item figcaption h3.underline-center:after{
    background:#fff
}
.portafolio-item:hover img{
    -webkit-transform:scale(1.02);
    -ms-transform:scale(1.02);
    transform:scale(1.02);
    background:#652c8f
}
.portafolio-item:hover figcaption{
    background:rgba(101,44,143,0.8);
    opacity:1;
}
.portafolio-item:hover figcaption h3{
    margin-top:0
}
.proyecto-img{
    margin:0 auto 3rem;
    box-shadow:0 2px 5px rgba(0,0,0,0.06),0 2px 10px rgba(0,0,0,0.08);
}
.proyecto-img:last-child{
    margin-bottom:0
}
.browser-mockup{
    border-radius:4px;
    position:relative
}
.button{
    display:inline-block;
    text-decoration:none;
    color:#652c8f;
    font-family:'Montserrat',sans-serif,sans-serif;
    font-weight:700;
    font-size:1.25em;
    text-transform:uppercase;
    padding:.5em 2em;
    overflow:hidden;
    position:relative;
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.button:before{
    content:'';
    display:block;
    height:1em;
    width:1em;
    border-bottom:2px solid #44d3dd;
    border-left:2px solid #44d3dd;
    position:absolute;
    left:0;
    bottom:0;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.button:after{
    content:'';
    display:block;
    height:1em;
    width:1em;
    border-top:2px solid #44d3dd;
    border-right:2px solid #44d3dd;
    position:absolute;
    right:0;
    top:0;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.button:hover:before,.button:hover:after{
    width:100%;
    height:100%
}
.icon-arrow{
    text-align:left;
    display:inline-block;
    vertical-align:middle;
    width:20px;
    height:1em;
    opacity:0;
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.icon-arrow:before{
    position:absolute;
    content:"";
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    transform:rotate(45deg);
    width:10px;
    height:10px;
    margin-left:3px;
    margin-top:2px;
    transition:.7s cubic-bezier(.2,.9,.25,1)
}
.icon-der:before{
    border-right:3px solid #652c8f;
    border-top:3px solid #652c8f
}
.icon-izq:before{
    border-left:3px solid #652c8f;
    border-bottom:3px solid #652c8f
}
.paginacion{
    padding:3rem 0
}
.paginacion-link{
    font-family:'Montserrat',sans-serif,sans-serif;
    font-weight:700;
    font-size:1.25em;
    text-transform:uppercase;
    color:#652c8f;
}
.paginacion-link:hover .icon-arrow{
    opacity:1
}
.anterior{
    float:left;
    -webkit-transform:translateX(-20px);
    -ms-transform:translateX(-20px);
    transform:translateX(-20px);
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.anterior:hover{
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
}
.siguiente{
    float:right;
    -webkit-transform:translateX(20px);
    -ms-transform:translateX(20px);
    transform:translateX(20px);
    transition:.7s cubic-bezier(.2,.9,.25,1);
}
.siguiente:hover{
    -webkit-transform:translateX(0);
    -ms-transform:translateX(0);
    transform:translateX(0)
}
footer{
    background:#212121;
    padding:0;
    overflow:hidden;
    clear:both
}
.social-footer{
    padding-top:3rem;
    text-align:center
}
.colophon{
    font-size:14px;
    color:#f8f9fa;
    text-align:center;
    display:block;
    padding-bottom:3rem
}
.animated{
    -webkit-animation-duration:2s;
    animation-duration:2s;
    -webkit-animation-fill-mode:both;
    animation-fill-mode:both
}
.delay{
    -webkit-animation-delay:.5s;
    animation-delay:.5s
}
.delay-1{
    -webkit-animation-delay:1s;
    animation-delay:1s
}
.fadeIn{
    -webkit-animation-name:fadeIn;
    animation-name:fadeIn
}
.fadeInUp{
    -webkit-animation-name:fadeInUp;
    animation-name:fadeInUp
}
@media screen and (max-width:960px){
    .header-wrapper{
        padding:1em 1.5em
    }
    .intro-cont h1{
        font-size:2.8125em
    }
    .nope-cont h1{
        font-size:1.6em
    }
    .big-nope{
        font-size:2.8125em
    }
}
@media screen and (max-width:640px){
    h1{
        font-size:1.95em
    }
    h2{
        font-size:1.56em
    }
    h3{
        font-size:1.25em
    }
    h4{
        font-size:1em
    }
    .intro-cont h1{
        font-size:2.25em
    }
    .nope-cont h1{
        font-size:1.56em
    }
    .big-nope{
        font-size:2.8125em
    }
    .button{
        font-size:1em
    }
    .paginacion-link{
        font-size:1em
    }
    .hidden-s{
        display:none
    }
    .menu-wrapper{
        overflow-y:scroll
    }
    .delay,.delay-1{
        -webkit-animation-delay:0s;
        animation-delay:0s
    }
}
@media screen and (max-width:480px){
    .main-menu{
        max-width:100%
    }
}
@-webkit-keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@keyframes fadeIn{
    0%{
        opacity:0
    }
    100%{
        opacity:1
    }
}
@-webkit-keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,20%,0);
        transform:translate3d(0,20%,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}
@keyframes fadeInUp{
    0%{
        opacity:0;
        -webkit-transform:translate3d(0,20%,0);
        transform:translate3d(0,20%,0)
    }
    100%{
        opacity:1;
        -webkit-transform:none;
        transform:none
    }
}